* {
  margin: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 8px;
}

.navbar > ul > li {
  padding: 10px;
}

.navbar > ul {
  display: flex;
  list-style: none;
}

.img-logo {
  height: 71px;
  width: auto;
}

.img-burger {
  height: 262px;
  /* width: 200px; */
}

.card {
  width: max-content;
  padding: 8px;
  border: 1px solid black;
  flex-wrap: wrap;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shimmer_card {
  padding: 19px;
  border: 1px solid lightgray;
  color: lightgrey;
  background-color: lightgray;
  height: 320px;
  width: 405px;
}

.shimmer_parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}